@import url('./reset.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.monome {
  display: block;
  width: 335px;
  height: 355px;
  margin: 0 auto;
  background: #555;
}

.tile {
  font-size: 0px;
  box-sizing: content-box;
  background: #ddd;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 5px 0 5px;
}

.enabled {
  background: #a3a;
}

.active {
  background: yellow;
}

.active.enabled {
  background: #c5c;
}
